<% @post.comments.each do |comment| %>
  <p>
    <b><%= comment.author %></b>
    on <%= comment.created_at %>
  </p>
  <p>
    <%= comment.body %>
  </p>
  <% if user_signed_in? %>
    <p>
      <%= link_to 'Delete Comment', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
  <% end %>  
<% end %>