<!DOCTYPE html>
<html>
  <head>
    <title>PRO DISC NEWS</title>

  </head>
  <body>
   <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>PRO DISC NEWS</h1>
        <p>THE #1 SOURCE OF NEWS ON THE AMERICAN ULTIMATE DISC LEAGUE!</p>
        <img src="http://prodiscnews.files.wordpress.com/2012/07/history-of-ultimate-frisbee-11.jpeg" class="img-rectangle"/>
      </div>


      <div class="row-fluid">
        <div class="span6">
          <h2>Article 1</h2>
          <p>Short Summary of article </p>
          <p><a class="btn" href="#">Read More &raquo;</a></p>
        </div>
        <div class="span6">
          <h2>Article 2</h2>
          <p>Short Summary of article</p>
          <p><a class="btn" href="#">Read More &raquo;</a></p>
       </div>
      </div>

    </div> <!-- /container -->
    </body>
</html>
