<!DOCTYPE html>
<html>
  <head>
    <title>PRO DISC NEWS</title>

  </head>
  <body>
   <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>PRO DISC NEWS</h1>
        <p>THE #1 SOURCE OF NEWS ON THE AMERICAN ULTIMATE DISC LEAGUE!</p>
        <img src="http://prodiscnews.files.wordpress.com/2012/07/history-of-ultimate-frisbee-11.jpeg" class="img-rectangle"/>
      </div>

      <p>by Mainak Datta</p>

    </div> <!-- /container -->
    </body>
</html>
