<div class="container">
<h1>About</h1>
<p>This website is the start of a movement to bring information about the American Ultimate Disc League to the general public. This website was developed entirely by Mainak Datta, while all the article content is from John Phillips.</p>
<p>We are still looking to add more and expand this website to truly make it the #1 source of news on the AUDL.</p>
<p>WELCOME TO THE LEAGUE!!!</p>
</div>